.button {
  cursor: pointer;

  display: inline-block;
  flex: 0 0 auto;
  text-align: center;
  padding: 16px 30px;
  width: 150px;

  letter-spacing: 2px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.43;
  /* 22/14 */

  color: #fff;
  background-color: #114882;
  border: none;
  border-radius: 15px;

  transition: background-color 0.3s ease 0s;
}
.button:hover,
.button:focus {
  background-color: #5ca6f5;
}

.list {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
}
.item {
  margin-right: 30px;
}

.item:last-child {
  margin-right: 0;
}
