.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
ul {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  font-weight: 400;
  font-size: 28px;
  line-height: 1.43;
}
li {
  display: flex;
  flex-direction: row;

  font-weight: 400;
  font-size: 28px;
  line-height: 1.43;
}

p {
  padding-left: 20px;

  font-weight: 400;
  font-size: 28px;
  line-height: 1.43;
}
